@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    background-image: url(../img/background.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index__card{
    width: 90%;
    max-width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 0.6rem;
    border: rgb(186, 186, 186) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.texto__warning{
    color: red;
    opacity: 0;
    transition: 0.2s;
}
.warning{
    opacity: 1;
    transition: 0.2s;
}